<% layout('layouts/boilerplate') %>
  <!-- <form action="/campgrounds/<%# campground._id %>?_method=PUT" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" name="campground[name]" id="name" value="<%# campground.name %>">
      <label for="location">Location</label>
      <input type="text" name="campground[location]" id="location" value="<%# campground.location %>">
    </div>
    <button type="submit">Update Campground</button>
  </form>
  <div>
    <a href="/campgrounds/<%#= campground._id %>">Back to <%#= campground.name %> Campground</a>
  </div> -->


  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="to-validate">
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>" id="name" required>
          <div class="invalid-feedback">
            Please provide a name for the campground.
          </div>
          <div class="valid-feedback">
            Looks good now!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" name="campground[location]" value="<%= campground.location %>" id="location" value="<%= campground.location %>" required>
          <div class="invalid-feedback">
            Please provide the location of the campground.
          </div>
          <div class="valid-feedback">
            Looks good now!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Image URL</label>
          <input class="form-control" type="text" name="campground[image]" id="image" value="<%= campground.image %>" required>
          <div class="invalid-feedback">
            Please provide the campground image url.
          </div>
          <div class="valid-feedback">
            Looks good now!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="price">Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" class="form-control" id="price" name="campground[price] placeholder="0.00" value="<%= campground.price %>" aria-label="price-label" aria-describedby="price-label" required>
            <div class="invalid-feedback">
              Please fill in the campground price.
            </div>
            <div class="valid-feedback">
              Looks good now!
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" rows="4" type="text" name="campground[description]" id="description" value="" required><%= campground.description %></textarea>
          <div class="invalid-feedback">
            Please provide a description for the campground.
          </div>
          <div class="valid-feedback">
            Looks good now!
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-info" type="submit">Add</button>
        </div>
      </form>
      <div>
        <a class="btn btn-outline-info" href="/campgrounds/<%= campground._id %>">Back to <%= campground.name %> Campground</a>
      </div>
    </div>
  </div>