  <% layout('layouts/boilerplate') %>
  <script>
    const defaultImageUrl = 'https://res.cloudinary.com/drefkmvsn/image/upload/v1692771968/YelpCamp/sfw0dcmvxogzbq1kyw6h.jpg'
  </script>
  <h1>All Campgrounds</h1>
  <h2><a href="/campgrounds/new"> Add new campground</a></h2>
  <% for(let campground of campgrounds) {%>
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <% if(campground.images.length){ %>
            <img src="<%= campground.images[0].url %>" alt="Camp image" class="img-fluid">
          <% }else { %>
            <img src="<%= defaultImageUrl %>" alt=" Default Camp image" class="img-fluid">
          <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= campground.name %></h5>
            <p class="card-text"><%= campground.description %></p>
            <p class="card-text"><small><%= campground.location %></small></p>
            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.name %></a>
          </div>
        </div>
      </div>
    </div>
  <% } %>
